<a href="https://colab.research.google.com/github/themysterysolver/PYTHON_BASICS/blob/main/PANDAS/GFG_FULL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PANDAS

- It is built on top of the NumPy library which means that a lot of the structures of NumPy are used or replicated in Pandas.
- The data produced by Pandas is often used as input for plotting functions in Matplotlib, statistical analysis in SciPy, and machine learning algorithms in Scikit-learn.
- we can do using Pandas.
  - Data set cleaning, merging, and joining.
  - Easy handling of missing data (represented as NaN) in floating point as well as non-floating point data.
  - Columns can be inserted and deleted from DataFrame and higher-dimensional objects.
  - Powerful group by functionality for performing split-apply-combine operations on data sets.
  - Data Visualization.

- Data Structures in Pandas Library
Pandas generally provide two data structures for manipulating data. They are:
  - Series
  - DataFrame

- Pandas DataStructures is created by loading the datasets from existing storage (which can be a SQL database, a CSV file, or an Excel file).
- Pandas DataStructures can be created from ***lists, dictionaries, a list of dictionaries***, etc.

In [1]:
import pandas as pd
import numpy as np

In [6]:
ser=pd.Series(np.array([chr(i+ord('a')) for i in range(1,5)]))
print(ser)
df=pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})#len(row) should be equal for all rows
print(df)

0    b
1    c
2    d
3    e
dtype: object
   a  b
0  1  4
1  2  5
2  3  6

- The axis labels are collectively called `index`. Pandas Series is nothing but a column in an excel sheet.
- *Accessing element of Series*
There are two ways through which we can access element of series, they are :
  - Accessing Element from Series with Position
  - Accessing Element Using Label (index)

In [7]:
print(ser)

0    b
1    c
2    d
3    e
dtype: object

In [8]:
ser[:3]

0    b
1    c
2    d
dtype: object

In [9]:
ser[3]

'e'