<a href="https://colab.research.google.com/github/themysterysolver/PYTHON_BASICS/blob/main/PANDAS/Practise_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Pandas stands for panel data.
---
Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

In [ ]:
print(pd.__version__)

2.2.2

Series
---
A Pandas Series is like a ***column*** in a table.

It is a one-dimensional array holding data of any type.
With the `index` argument, you can name your `own labels`.

In [ ]:
a=[1,3,5,7,9]
s=pd.Series(a)
print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [ ]:
s=pd.Series(a,index=["p","q","x","y","z"])
#index-helps with labels(parameter)

In [ ]:
print(s)

p    1
q    3
x    5
y    7
z    9
dtype: int64

In [ ]:
print(s["y"])

7

In [ ]:
d={i:i+1 for i in range(1,5)}

In [ ]:
print(d)

{1: 2, 2: 3, 3: 4, 4: 5}

- To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.
   - The ***keys*** of the dictionary become the labels.
-  use a **key/value** object, like a dictionary, when creating a Series.

In [ ]:
ns=pd.Series(d)
print(ns)
ns1=pd.Series(d,index=[1,2,3])
print(ns1)

1    2
2    3
3    4
4    5
dtype: int64
1    2
2    3
3    4
dtype: int64

# DataFrames
- Data sets in Pandas are usually multi-dimensional tables, called **DataFrames**.
    - `Series` is like a ***column***
    - `DataFrame` is the whole ***table***.
- ***pd.DataFrame()***.It returns a DataFrame object, which is a container for structured data.
- A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.`2D-r,c`
- When you use **pd.read_csv()** to read a CSV file, it loads the content of the CSV file into a Pandas DataFrame objec

In [ ]:
iris=pd.read_csv('iris.csv')

In [ ]:
print(iris)
#famous iris data set

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

LOC
```
DataFrame.loc[row_labels, column_labels]
```
- Locate Row:loc()
- Pandas use the loc attribute to return one or more specified row(s)

In [ ]:
print(iris.loc[0])
print(iris.loc[[0,1,3,149]]) # List of Labels: Select multiple rows
print(iris.loc[[1],"sepal.length"])
print(iris.loc[0:10,["sepal.length","sepal.width"]])#(row,col)

sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object
     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
149           5.9          3.0           5.1          1.8  Virginica
1    4.9
Name: sepal.length, dtype: float64
    sepal.length  sepal.width
0            5.1          3.5
1            4.9          3.0
2            4.7          3.2
3            4.6          3.1
4            5.0          3.6
5            5.4          3.9
6            4.6          3.4
7            5.0          3.4
8            4.4          2.9
9            4.9          3.1
10           5.4          3.7

- ***to_string()*** to print the entire DataFrame.
- If you have a large DataFrame with many rows, Pandas will only return the first 5 rows, and the last 5 rows:

In [ ]:
print(iris.to_string())

     sepal.length  sepal.width  petal.length  petal.width     variety
0             5.1          3.5           1.4          0.2      Setosa
1             4.9          3.0           1.4          0.2      Setosa
2             4.7          3.2           1.3          0.2      Setosa
3             4.6          3.1           1.5          0.2      Setosa
4             5.0          3.6           1.4          0.2      Setosa
5             5.4          3.9           1.7          0.4      Setosa
6             4.6          3.4           1.4          0.3      Setosa
7             5.0          3.4           1.5          0.2      Setosa
8             4.4          2.9           1.4          0.2      Setosa
9             4.9          3.1           1.5          0.1      Setosa
10            5.4          3.7           1.5          0.2      Setosa
11            4.8          3.4           1.6          0.2      Setosa
12            4.8          3.0           1.4          0.1      Setosa
13            4.3          3.0           1.1          0.1      Setosa
14            5.8          4.0           1.2          0.2      Setosa
15            5.7          4.4           1.5          0.4      Setosa
16            5.4          3.9           1.3          0.4      Setosa
17            5.1          3.5           1.4          0.3      Setosa
18            5.7          3.8           1.7          0.3      Setosa
19            5.1          3.8           1.5          0.3      Setosa
20            5.4          3.4           1.7          0.2      Setosa
21            5.1          3.7           1.5          0.4      Setosa
22            4.6          3.6           1.0          0.2      Setosa
23            5.1          3.3           1.7          0.5      Setosa
24            4.8          3.4           1.9          0.2      Setosa
25            5.0          3.0           1.6          0.2      Setosa
26            5.0          3.4           1.6          0.4      Setosa
27            5.2          3.5           1.5          0.2      Setosa
28            5.2          3.4           1.4          0.2      Setosa
29            4.7          3.2           1.6          0.2      Setosa
30            4.8          3.1           1.6          0.2      Setosa
31            5.4          3.4           1.5          0.4      Setosa
32            5.2          4.1           1.5          0.1      Setosa
33            5.5          4.2           1.4          0.2      Setosa
34            4.9          3.1           1.5          0.2      Setosa
35            5.0          3.2           1.2          0.2      Setosa
36            5.5          3.5           1.3          0.2      Setosa
37            4.9          3.6           1.4          0.1      Setosa
38            4.4          3.0           1.3          0.2      Setosa
39            5.1          3.4           1.5          0.2      Setosa
40            5.0          3.5           1.3          0.3      Setosa
41            4.5          2.3           1.3          0.3      Setosa
42            4.4          3.2           1.3          0.2      Setosa
43            5.0          3.5           1.6          0.6      Setosa
44            5.1          3.8           1.9          0.4      Setosa
45            4.8          3.0           1.4          0.3      Setosa
46            5.1          3.8           1.6          0.2      Setosa
47            4.6          3.2           1.4          0.2      Setosa
48            5.3          3.7           1.5          0.2      Setosa
49            5.0          3.3           1.4          0.2      Setosa
50            7.0          3.2           4.7          1.4  Versicolor
51            6.4          3.2           4.5          1.5  Versicolor
52            6.9          3.1           4.9          1.5  Versicolor
53            5.5          2.3           4.0          1.3  Versicolor
54            6.5          2.8           4.6          1.5  Versicolor
55            5.7          2.8           4.5          1.3  Versicolor
56            6.3          3.3           4.7          1.6  Versicolor
57            4.9          2.4           3.3          1.0  Versicolor
58            6.6          2.9           4.6          1.3  Versicolor
59            5.2          2.7           3.9          1.4  Versicolor
60            5.0          2.0           3.5          1.0  Versicolor
61            5.9          3.0           4.2          1.5  Versicolor
62            6.0          2.2           4.0          1.0  Versicolor
63            6.1          2.9           4.7          1.4  Versicolor
64            5.6          2.9           3.6          1.3  Versicolor
65            6.7          3.1           4.4          1.4  Versicolor
66            5.6          3.0           4.5          1.5  Versicolor
67            5.8          2.7           4.1          1.0  Versicolor
68            6.2          2.2           4.5          1.5  Versicolor
69            5.6          2.5           3.9          1.1  Versicolor
70            5.9          3.2           4.8          1.8  Versicolor
71            6.1          2.8           4.0          1.3  Versicolor
72            6.3          2.5           4.9          1.5  Versicolor
73            6.1          2.8           4.7          1.2  Versicolor
74            6.4          2.9           4.3          1.3  Versicolor
75            6.6          3.0           4.4          1.4  Versicolor
76            6.8          2.8           4.8          1.4  Versicolor
77            6.7          3.0           5.0          1.7  Versicolor
78            6.0          2.9           4.5          1.5  Versicolor
79            5.7          2.6           3.5          1.0  Versicolor
80            5.5          2.4           3.8          1.1  Versicolor
81            5.5          2.4           3.7          1.0  Versicolor
82            5.8          2.7           3.9          1.2  Versicolor
83            6.0          2.7           5.1          1.6  Versicolor
84            5.4          3.0           4.5          1.5  Versicolor
85            6.0          3.4           4.5          1.6  Versicolor
86            6.7          3.1           4.7          1.5  Versicolor
87            6.3          2.3           4.4          1.3  Versicolor
88            5.6          3.0           4.1          1.3  Versicolor
89            5.5          2.5           4.0          1.3  Versicolor
90            5.5          2.6           4.4          1.2  Versicolor
91            6.1          3.0           4.6          1.4  Versicolor
92            5.8          2.6           4.0          1.2  Versicolor
93            5.0          2.3           3.3          1.0  Versicolor
94            5.6          2.7           4.2          1.3  Versicolor
95            5.7          3.0           4.2          1.2  Versicolor
96            5.7          2.9           4.2          1.3  Versicolor
97            6.2          2.9           4.3          1.3  Versicolor
98            5.1          2.5           3.0          1.1  Versicolor
99            5.7          2.8           4.1          1.3  Versicolor
100           6.3          3.3           6.0          2.5   Virginica
101           5.8          2.7           5.1          1.9   Virginica
102           7.1          3.0           5.9          2.1   Virginica
103           6.3          2.9           5.6          1.8   Virginica
104           6.5          3.0           5.8          2.2   Virginica
105           7.6          3.0           6.6          2.1   Virginica
106           4.9          2.5           4.5          1.7   Virginica
107           7.3          2.9           6.3          1.8   Virginica
108           6.7          2.5           5.8          1.8   Virginica
109           7.2          3.6           6.1          2.5   Virginica
110           6.5          3.2           5.1          2.0   Virginica
111           6.4          2.7           5.3          1.9   Virginica
112           6.8          3.0           5.5          2.1   Virginica
113           5.7          2.5           5.0          2.0   Virginica
114           5.8          2.8           5.1          2.4   Virginica
115           6.4          3.2           5.3          2.3   Virginica
116           6.5          3.0           5.5          1.8   Virginica
117           7.7          3.8           6.7          2.2   Virginica
118           7.7          2.6           6.9          2.3   Virginica
119           6.0          2.2           5.0          1.5   Virginica
120           6.9          3.2           5.7          2.3   Virginica
121           5.6          2.8           4.9          2.0   Virginica
122           7.7          2.8           6.7          2.0   Virginica
123           6.3          2.7           4.9          1.8   Virginica
124           6.7          3.3           5.7          2.1   Virginica
125           7.2          3.2           6.0          1.8   Virginica
126           6.2          2.8           4.8          1.8   Virginica
127           6.1          3.0           4.9          1.8   Virginica
128           6.4          2.8           5.6          2.1   Virginica
129           7.2          3.0           5.8          1.6   Virginica
130           7.4          2.8           6.1          1.9   Virginica
131           7.9          3.8           6.4          2.0   Virginica
132           6.4          2.8           5.6          2.2   Virginica
133           6.3          2.8           5.1          1.5   Virginica
134           6.1          2.6           5.6          1.4   Virginica
135           7.7          3.0           6.1          2.3   Virginica
136           6.3          3.4           5.6          2.4   Virginica
137           6.4          3.1           5.5          1.8   Virginica
138           6.0          3.0           4.8          1.8   Virginica
139           6.9          3.1           5.4          2.1   Virginica
140           6.7          3.1           5.6          2.4   Virginica
141           6.9          3.1           5.1          2.3   Virginica
142           5.8          2.7           5.1          1.9   Virginica
143           6.8          3.2           5.9          2.3   Virginica
144           6.7          3.3           5.7          2.5   Virginica
145           6.7          3.0           5.2          2.3   Virginica
146           6.3          2.5           5.0          1.9   Virginica
147           6.5          3.0           5.2          2.0   Virginica
148           6.2          3.4           5.4          2.3   Virginica
149           5.9          3.0           5.1          1.8   Virginica

### max_rows
- The number of rows returned is defined in Pandas option settings.

- You can check your *system's maximum rows* with the **pd.options.display.max_rows** statement.

In [ ]:
print(pd.options.display.max_rows)
pd.options.display.max_rows=100
print(pd.options.display.max_rows)

60
100


#### What is JSON Format?
- **JSON (JavaScript Object Notation)** is a lightweight data interchange format that is easy for humans to read and write and easy for machines to parse and generate.

1. JSON Object:
An object is a collection of key-value pairs.
Keys are strings (must be enclosed in double quotes).
Values can be strings, numbers, booleans, arrays, objects, or null.

- JSON = Python Dictionary
- JSON objects have the same format as Python dictionaries.

### Viewing the Data
One of the most used method for getting a *quick overview* of the DataFrame, is the `head()` method.

The head() method `returns the headers` and a specified ***number of rows, starting from the top***.

In [ ]:
print(iris.head())#top 5 rows.
print(iris.head(10))

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [ ]:
print(iris.tail())#bottom 5 rows
print(iris.info())

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None